<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Home Dashboard</title>
  <meta http-equiv="refresh" content="60">
  <meta name="mobile-web-app-capable" content="yes">
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
  <link href='/css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <section class='container'>
    {% if error %}
      <h1>{{ error }}</h1>
    {% else %}
      <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6">
          <section>
            <h2><u>Midsommarkransen | Metro</u></h2>
            <h1 class="next_departure">{{ mids_next[0] }} </h1>
            <p>Next: <span class="next_next_departure">{{ mids_next[1] }}</span></p>
          </section>
        </section>
      </div>
    {% endif %}
  </section>
</body>
<script src="http://www.yr.no/place/Sweden/Stockholm/Stockholm/external_box_hour_by_hour.js"></script><noscript><a href="http://www.yr.no/place/Sweden/Stockholm/Stockholm/">yr.no: Forecast for Stockholm</a></noscript>
</html>
